*.meta
Download*/
_TerrainAutoUpgrade/
Fonts/
Plugins/
SAColliderBuilder/
Scenes/
SCI-FI*/
Sound/
TextMesh*/
Toon/
Universal*/
*.inputactions
/Packages/
/ProjectSettings/
/UserSettings/
/Library/
/Logs/
/Temp/
/UserSettings/
/Library/
VampSTG2.sln
.vscode/
*.csproj
FileContentIndex/
obj/
.vsconfig
*.bin

